In [2]:
%whos

Interactive namespace is empty.

In [3]:
import pandas as pd

### 서울 구역 나누기

In [ ]:
seoul_latitude = (37.413294,37.715133)
seoul_logitude = (126.734086,127.269311)

In [78]:
(37.715133 - 37.413294)

0.3018390000000011

In [76]:
127.269311-126.734086

0.535224999999997

### 중구 건물 위치

In [4]:
building = pd.read_csv("C:/Users/user/Desktop/Data/Building_location.csv")

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19,26,28,29,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
building_raw = building

In [6]:
building.head()

,고유번호,이미지 파일 일련번호,지번본번,지번부번,도로구간 일련번호,지하층수,건물군 일련번호,지상층수,건물 일련번호,시군구코드,...,작업자 아이디,작업일시,기초구역번호,고지대상여부,입력방법,이전건물관리번호,발급여부,다량배달처여부,위도,경도
0,1,0,65,1,1933,0,0,3,17445,11110,...,장가희,20110225,3133,1,2,1111013700100650001014663,,N,37.573215,126.988200
1,3,0,64,1,1933,0,218,2,2803,11110,...,jgh0518,20120730161842,3133,1,2,1111013700100640001016594,,N,37.573266,126.988185
2,4,0,62,2,1933,1,0,2,17444,11110,...,장가희,20110225,3133,1,1,1111013700100620002013625,,N,37.573352,126.988156
3,5,0,49,0,1933,0,1325,1,17441,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000014197,,N,37.573474,126.988168
4,6,0,49,0,1933,0,1325,1,17440,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000014132,,N,37.573542,126.988189

In [7]:
Junggu_building = building[building['시군구코드']==11140]

In [8]:
Junggu_building.reset_index(inplace=True)

In [9]:
Junggu_building_location = Junggu_building[['위도','경도']]

In [10]:
Junggu_building_location['위도'] = pd.to_numeric(Junggu_building_location['위도'], errors='coerce')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
Junggu_building_location['경도'] = pd.to_numeric(Junggu_building_location['경도'], errors='coerce')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
Junggu_building_location.dropna(inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
Junggu_building_location

              위도          경도
0      37.559466  127.003324
1      37.559265  127.003647
2      37.558820  127.002851
3      37.558718  127.002981
4      37.559504  127.003474
5      37.559334  127.003278
6      37.556228  127.009169
7      37.557996  127.007685
8      37.557951  127.008853
9      37.567790  126.982321
10     37.567691  126.983196
11     37.556978  126.985205
12     37.564820  126.983041
13     37.565102  126.982941
14     37.563972  126.982456
15     37.565316  126.983043
16     37.565062  126.983330
17     37.565277  126.983391
18     37.567174  126.983031
19     37.567254  126.983033
20     37.567515  126.983358
21     37.567961  126.983137
22     37.561002  126.977924
23     37.563579  126.982104
24     37.564470  126.988661
25     37.564492  126.988773
26     37.564509  126.988827
27     37.564825  126.988689
28     37.565072  126.988887
29     37.564528  126.988901
...          ...         ...
18934  37.555502  127.007269
18935  37.563865  126.996684
18936  37.562147  126.986091
18937  37.549440  127.006436
18938  37.567212  126.994687
18939  37.558646  126.963824
18940  37.565695  126.994496
18941  37.558374  126.995672
18942  37.565206  127.005723
18943  37.565502  126.994317
18944  37.560888  127.001139
18945  37.563238  127.003983
18946  37.564662  126.999162
18947  37.558000  126.963682
18948  37.563137  127.004798
18949  37.563709  127.008786
18950  37.563569  127.008806
18951  37.563672  127.011471
18952  37.560031  126.992155
18953  37.564732  127.019844
18954  37.567018  127.018071
18955  37.557282  126.980659
18956  37.563386  127.022031
18957  37.566267  127.018421
18958  37.567736  127.020077
18959  37.566603  127.018846
18960  37.565078  127.008797
18961  37.562902  127.014679
18962  37.566155  127.017539
18963  37.567051  127.013483

[18964 rows x 2 columns]

In [14]:
len(Junggu_building)

18964

### 중구 나무 종류 & 위치

In [15]:
tree1 = pd.read_csv("C:/Users/user/Desktop/Data/tree1.csv", encoding="utf-8")

In [16]:
tree2 = pd.read_csv("C:/Users/user/Desktop/Data/tree2.csv")

In [17]:
print(len(tree1),len(tree2))

7745 2203

In [18]:
tree1.head()

,고유번호,구명,품계수종,수고,관리등급,위치,환경영향,전정,도로길이,구번호,...,관리방안,수목고유번호,차선수,보호덮개,가로명,가치등급,품계퓽고,수목명,경도,위도
0,114,중구,4,10.0,1.0,,0.0,,0.0,02,...,0.0,2-배오개길-가-0122,0.0,1.0,배오개길,0.0,12.0,소나무,126.9983663,37.5627216
1,3,중구,6,6.0,3.0,약수사거리,0.0,,0.0,02,...,0.0,2-동호로-가-0035,0.0,1.0,동호로,0.0,3.0,왕벚나무,127.0118644,37.5544853
2,4,중구,6,5.0,3.0,서울지방국토관리청,0.0,,0.0,02,...,0.0,2-덕수궁길-가-0159,0.0,1.0,덕수궁길,0.0,3.0,상수리나무,126.9700888,37.5671674
3,5,중구,8,15.0,2.0,경찰서,0.0,,0.0,02,...,0.0,2-마장로-가-0055,0.0,1.0,마장로,0.0,3.0,은행나무,127.0156364,37.5681093
4,2,중구,8,14.0,1.0,한화빌딩,0.0,,0.0,02,...,0.0,2-을지로-가-0523,0.0,2.0,태평로1가로,0.0,6.0,은행나무,126.9858492,37.5675386

In [19]:
tree2.head()

,고유번호,구명,수목고유번호,구번호,동명,순번,수목명,흉고지름,수고,수관너비,...,품계수종,품계위치,관리등급,피해상태,학명,식생활력,품계등급,관리기관,경도,위도
0,3131,중구,2-중림동-큰-0025,2,중림동,25.0,회화나무,50.0,26.0,13.0,...,6,6,3.0,1.0,Sophora japonica L.,2.0,38.0,공원녹지과,126.966435,37.556840
1,3132,중구,2-신당1동-큰-0054,2,신당1동,54.0,은행나무,51.0,9.0,5.0,...,6,9,2.0,1.0,Ginkgo biloba L.,2.0,46.0,공원녹지과,127.013070,37.565375
2,3133,중구,2-신당1동-큰-0094,2,신당1동,94.0,은행나무,21.0,6.0,3.0,...,6,9,3.0,1.0,Ginkgo biloba L.,2.0,36.0,공원녹지과,127.010559,37.565319
3,3134,중구,2-필동-큰-0087,2,필동,87.0,아카시아나무,35.0,28.0,7.0,...,4,9,3.0,1.0,Robinia pseudacacia L.,2.0,34.0,공원녹지과,126.995033,37.555267
4,3135,중구,2-신당4동-큰-0007,2,신당4동,7.0,느릅나무,70.0,18.0,12.0,...,4,9,2.0,1.0,Ulmus davidiana var,2.0,44.0,공원녹지과,127.014706,37.557828

In [20]:
tree1 = tree1[["수목명","위도","경도"]]

In [21]:
tree2 = tree2[["수목명","위도","경도"]]

In [22]:
tree = pd.concat([tree1, tree2])

In [23]:
tree = tree.reset_index().drop("index", axis=1)

In [24]:
tree['위도'] = pd.to_numeric(tree['위도'], errors='coerce')

In [25]:
tree['경도'] = pd.to_numeric(tree['경도'], errors='coerce')

In [26]:
tree.dropna(inplace=True)

In [27]:
tree

         수목명         위도          경도
0        소나무  37.562722  126.998366
1       왕벚나무  37.554485  127.011864
2      상수리나무  37.567167  126.970089
3       은행나무  37.568109  127.015636
4       은행나무  37.567539  126.985849
5       은행나무  37.568232  127.017489
6       은행나무  37.568491  127.009267
7       은행나무  37.568001  126.979335
8       은행나무  37.566123  126.979515
9       은행나무  37.567058  127.004568
10      은행나무  37.566231  126.986820
11      은행나무  37.564388  126.999576
12      은행나무  37.568041  127.022987
13     양버즘나무  37.557989  126.969514
14      은행나무  37.559468  126.980440
15      은행나무  37.561158  126.976107
16      은행나무  37.559251  126.974827
17      은행나무  37.560844  126.974182
18     양버즘나무  37.562050  126.988768
19      은행나무  37.558655  126.971828
20      은행나무  37.569009  127.002253
21      은행나무  37.556853  127.008970
22      은행나무  37.560309  127.013470
23       소나무  37.560851  126.966586
24      은행나무  37.552384  127.001877
25      느티나무  37.568830  126.976008
26     상수리나무  37.567425  126.969847
27      느티나무  37.564899  126.974923
28      은행나무  37.562687  126.971944
29      은행나무  37.567769  126.969607
...      ...        ...         ...
9918     향나무  37.551032  127.006836
9919   양버즘나무  37.554968  126.978553
9920    느티나무  37.555424  126.977232
9921    느티나무  37.557586  126.986259
9922     소나무  37.546839  127.007055
9923    은행나무  37.560505  126.999126
9924   양버즘나무  37.558004  126.987609
9925   양버즘나무  37.564471  127.022596
9926   양버즘나무  37.554139  127.001068
9927  아카시아나무  37.557478  126.992610
9928     향나무  37.562487  127.018998
9929    느티나무  37.561457  126.970404
9930    은행나무  37.556753  126.973978
9931    은행나무  37.568236  127.015660
9932  아카시아나무  37.556101  126.964757
9933   양버즘나무  37.564283  127.023952
9934    측백나무  37.558924  126.966472
9935    느티나무  37.557772  127.005179
9936     감나무  37.562455  126.997479
9937     소나무  37.558212  127.017930
9938    은행나무  37.556581  126.965702
9939   양버즘나무  37.558507  127.000563
9940     소나무  37.549842  127.001926
9941    은행나무  37.556831  126.974052
9942    회화나무  37.566577  127.011500
9943    회화나무  37.566608  127.011666
9944    은행나무  37.567235  127.006757
9945    은행나무  37.567644  127.015794
9946    대추나무  37.558392  126.983700
9947     향나무  37.552662  127.012047

[9933 rows x 3 columns]

In [28]:
list(set(tree['수목명']))

['벽오동나무',
 '모과나무',
 '가이즈까향나무',
 '칠엽수',
 '물푸레나무',
 '비술나무',
 '왕벚나무',
 '벚나무',
 '화백',
 '양버즘나무',
 '은행나무',
 '회화나무',
 '향나무',
 '단풍나무',
 '자작나무',
 '피나무',
 '호두나무',
 '양버들나무',
 '등나무',
 '감나무',
 '목련',
 '편백',
 '이팝나무',
 '측백나무',
 '참나무',
 '라일락',
 '보리수나무',
 '일본목련',
 '상수리나무',
 '소나무',
 '가래나무',
 '잣나무',
 '젓나무',
 '버드나무',
 ' ',
 '백합나무',
 '음나무',
 '아카시아나무',
 '이태리포플러',
 '자귀나무',
 '주목',
 '대추나무',
 '메타세콰이어',
 '가중나무',
 '개잎갈나무',
 '살구나무',
 '갈참나무',
 '느티나무',
 '밤나무',
 '느릅나무',
 '꽃개오동',
 '쪽동백',
 '백일홍']

#### Location 위치 잡는 방법
1. 모든 Location을 임의의 크기로 잡는다
2. 건물의 면적 또는 높이에 따라 크기를 다르게 잡는다

-------- Code --------

In [29]:
import numpy as np

In [92]:
# 중심 아님
def SelectLocation(lng, lat):
    length = 0.00003
    return np.array([[lng, lat+length], [lng+length, lat]], dtype=np.float64)

In [31]:
SelectLocation(Junggu_building_location.loc[0][0], Junggu_building_location.loc[0][1])[0]

array([ 37.5594659, 127.0043242])

In [89]:
tree.iloc[0]

수목명        소나무
위도     37.5627
경도     126.998
Name: 0, dtype: object

In [93]:
def AreaCountTrees(lng, lat, dataset):
    area = SelectLocation(lng, lat)
    area_tree = pd.DataFrame(columns=list(set(tree['수목명'])))

    area_tree.loc[0] = (np.zeros(len(area_tree.columns)))

    for i in dataset.iterrows():

        if (area[0][0] < i[1][1] < area[1][0]) & (area[1][1] < i[1][2] < area[0][1]):

            area_tree[i[1][0]] += 1
    
    print(area_tree.sort_values(by=0, ascending=False, axis=1))
    return area_tree

In [94]:
pd.concat([AreaCountTrees(37.562691,126.99801,tree),AreaCountTrees(37.5604659, 127.0033242,tree)])

   벽오동나무  일본목련  소나무  가래나무  잣나무  젓나무  버드나무       백합나무  음나무  ...  호두나무  양버들나무  \
0    0.0   0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0  0.0  ...   0.0    0.0

   등나무  감나무   목련   편백  이팝나무  측백나무  참나무  백일홍
0  0.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0

[1 rows x 53 columns]
   벽오동나무  일본목련  소나무  가래나무  잣나무  젓나무  버드나무       백합나무  음나무  ...  호두나무  양버들나무  \
0    0.0   0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0  0.0  ...   0.0    0.0

   등나무  감나무   목련   편백  이팝나무  측백나무  참나무  백일홍
0  0.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0

[1 rows x 53 columns]

,벽오동나무,모과나무,가이즈까향나무,칠엽수,물푸레나무,비술나무,왕벚나무,벚나무,화백,양버즘나무,...,가중나무,개잎갈나무,살구나무,갈참나무,느티나무,밤나무,느릅나무,꽃개오동,쪽동백,백일홍
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
%%time
DB = pd.concat([AreaCountTrees(x[1][0], x[1][1], tree) for x in Junggu_building_location.head(1000).iterrows()])

Wall time: 16min 48s

In [74]:
DB

,벽오동나무,모과나무,가이즈까향나무,칠엽수,물푸레나무,비술나무,왕벚나무,벚나무,화백,양버즘나무,...,가중나무,개잎갈나무,살구나무,갈참나무,느티나무,밤나무,느릅나무,꽃개오동,쪽동백,백일홍
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0

시간 너무 오래걸림 - 최적화 필요!!

## 29일차.ipynb 참고
- 30일차 연장부분

될지 안될지는 모름